:root {
  --c1: #c7deffff;
  --c2: #7babf8ff;
  --c3: #4F9AA3ff;
  --c4: #004346ff;
  --c5: #172a3aff;
  --cblue: rgb(40 30 160); /* 90+% */
  --cgreen: rgb(1 1 1); /* 80-89% */
  --cyellow: rgb(1 1 1); /* 70-79% */
  --cred: rgb(1 1 1); /* <70% */
}
html, body {
  padding: 0;
  margin: 0;
  font-family: "Oxygen";
  background: var(--c1);
  color: var(--c4);
  overflow: hidden;
  width: 100vw;
  height: 100svh;
  display: grid;
  grid-template: 
    "a a" 12%
    "b c" 88% / 1fr 6fr;
}
h1, h2, h3, h4 {
  font-family: Montserrat;
  font-weight: 700;
  color: var(--c5);
}
a {
  text-decoration: unset;
  color: var(--c4);
}
header {
  grid-area: a;
  background: green;
}
#sidebar {
  grid-area: b;
  background: greenyellow;
}
main {
  grid-area: c;
  background: purple;
  display: flex;
  flex-direction: column;
}
.toolbar-button {
  all: unset;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: blue;
}
.toolbar-icon {
  width: 1.5rem;
  height: 1.5rem;
}
#toolbar {
  width: 80%;
  height: 2.5rem;
  background: green;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#toolbar-view-modes {
  width: 10rem;
  height: 2rem;
  display: flex;
  flex-direction: row;
}
#toolbar-filter {
  width: 14rem;
  height: 2rem;
  display: flex;
  flex-direction: row;
}
#filter-input {
  all: unset;
  width: 8rem;
  height: 2rem;
  background: yellow;
}

#workplace {
  background: grey;
  overflow: auto;
}
#workspace-prelude {
  width: 100%;
  height: 9rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#class-display-matrix {
  margin: 0;
  padding: 0 1rem;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  background: orange;
}
.class-card {
  min-width: 16rem;
  min-height: 14rem;
  background: var(--c3);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  overflow: hidden;
  border: .4em solid var(--c2);
}

.class-name {
  margin: 0;
  padding: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.class-card-bottom {
  width: 100%;
  height: 4rem;
  background: var(--c2);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.class-teacher {
  margin: 0;
  padding: 0 1em;
  line-height: 1.5em;
  left: .3em;
  bottom: 0;
}
.class-score {
  margin: 0;
  position: relative;
  padding: 1em;
  right: 0;
  bottom: 0;
  color: var(--cblue);
}
