html, body {
  padding: 0;
  margin: 0;
  font-family: Oxygen, helvetica, sans-serif;
  background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, sans-serif;
}
div.content {
  float: left;
}
span.row {
  float: left;
  width: 33.3%;
}
div.content:after {
  content: "";
  clear: both; /* interesting (clear and tables have not been used ever since the middle ages, you should try using flexbox https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_flexible_box_layout/Basic_concepts_of_flexbox) | y'know-i really dont ****ing care!*/
  display: table;
}

div.header {
  text-align: -webkit-center;
  background-color: #fff;
  padding: 12px;
}
div.nav {
  overflow: hidden;
  background-color: #000;
}
div.nav a {
  padding: 12px;
  float: left;
  text-align: center;
  background-color: #000;
  text-decoration: none;
  color: #fff;
}
div.nav a:hover {
  background-color: red;
}
