:root {
  --c1: #626262;
  --c2: #a1a1a1;
  --c3: #d3d3d3;
  --c4: #8d8d8d;
  --c5: #c2c2c2;
  --c6: #abcdef;
  /* body text */
  --ctext: rgb(46, 46, 46);
  /* header text */
  --cheader: rgb(32, 31, 35);
  --cblue: rgb(46, 39, 122);
  /* 90+% */
  --cgreen: rgb(39, 103, 43);
  /* 80-89% */
  --cyellow: rgb(218, 200, 2);
  /* 70-79% */
  --cred: rgb(153, 0, 0);
  /* <70% */
  --ctoolbar: rgb(0 0 0 / .15);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Oxygen";
  color: var(--ctext);
  overflow: hidden;
  width: 100vw;
  height: 100svh;
  display: grid;
  grid-template:
    "a a" 4rem
    "b c" calc(100% - 4rem) / 10rem 1fr;
}

h1,
h2,
h3,
h4 {
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  color: var(--cheader);
}

a {
  color: var(--ctext);
}

header {
  grid-area: a;
  background: var(--c1);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 2rem;
}

#logo {
  height: 80%;
}

#profile-picture {
  height: 80%;
  aspect-ratio: 1;
  border-radius: 99rem;
}

#sidebar {
  grid-area: b;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--c2);
  padding: 2rem 1rem;
  gap: 1rem;
  overflow: scroll;
}

.sidebar-link {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: var(--ctext);
}

.sidebar-link:not(:last-child)::after {
  content: "";
  width: 30%;
  min-height: 1px;
  background: var(--ctext);
  display: block;
  margin: 0.8rem;
  border-radius: 2rem;
}

main {
  grid-area: c;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: scroll;
}

.toolbar-button {
  all: unset;
  width: 1.4rem;
  height: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.toolbar-button-focused {
  background: var(--c1);
  border-radius: 3px;
}

.toolbar-icon {
  max-width: 1rem;
  max-height: 1rem;
  position: relative;
  opacity: .7;
}

#toolbar {
  padding: 0 1rem;
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--ctoolbar);
  position: relative;
  border-radius: .4rem;
  border: 2px solid var(--c1);
}

.toolbar-section {
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
  flex-wrap: wrap;
}

.toolbar-section:not(:last-child)::after {
  all: unset;
  content: "";
  width: .15rem;
  height: 60%;
  background: var(--ctoolbar);
  border-radius: 1rem;
  margin: 0 .5rem;
}

#toolbar-view-modes {}

#toolbar-filter {}

#filter-input {
  all: unset;
  width: 8rem;
  height: 1.4rem;
  padding: 0 .5rem;
  color: var(--ctext);
}

#workplace {
  overflow: scroll;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

#workspace-prelude {
  width: 100%;
  height: 15rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: var(--c4);
  overflow: scroll;
}

#class-display-matrix {
  margin: 0;
  padding: 1.5rem;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: calc(100% - 9rem);
  background: var(--c5);
  overflow-y: scroll;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.class-card-assignment-list {
  list-style-type: none;
  padding: 0 1rem;
  overflow: scroll;
  flex: 1 0 auto;
}

.class-card-assignment-list-elem {
  display: flex;
  flex-direction: column;
  padding: .5rem 1rem;
}

.class-card-assignment-list-subsection {}

.class-card {
  min-width: 16rem;
  min-height: 14rem;
  background: var(--c2);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  overflow: hidden;
  border: 3px solid var(--c2);
  outline: var(--c4) 4px solid;
}

.class-name {
  margin: 0;
  padding: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.class-card-top {
  border: var(--c4) 3px solid;
  border-radius: 1rem;
  background: var(--c3);
}

.class-card-bottom {
  width: 100%;
  height: 4rem;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.class-teacher {
  margin: 0;
  padding: 0 1em;
  line-height: 1.5em;
  left: .3em;
  bottom: 0;
}

.class-score {
  margin: 0;
  position: relative;
  padding: 1em;
  right: 0;
  bottom: 0;
  color: var(--cblue);
}